/* smaller than 1344px */

@media (max-width: 84em) {
  .menu {
    grid-column: 2 / 5;
  }

  .skinnybar p {
    font-size: 1.6rem;
  }

  .call-button-box {
    margin-top: 1.8rem;
  }

  .felling-header-box {
    right: 50%;
    top: 3em;
  }
  .felling-header-box h2 {
    font-size: 4.8rem;
  }

  .felling-main-text {
    bottom: -18rem;
    font-size: 1.8rem;
    padding: 2rem 4rem;
  }

  .section-3-img {
    width: 50vw;
  }

  .section-3 p {
    margin-top: 2rem;
    line-height: 1.3;
    font-size: 1.8rem;
  }

  .climb-text-container {
    padding: 0 2rem;
  }

  .climb-text-container h2 {
    font-size: 2.8rem;
  }

  .call-assessment:link,
  .call-assessment:visited {
    font-size: 1.8rem;
  }

  .footer-menu-box a {
    font-size: 2.2rem;
  }

  .page-footer nav a {
    font-size: 2.2rem;
  }
}

/* smaller than 912px */

@media (max-width: 55em) {
  .menu a {
    font-size: 2.2rem;
  }
  .skinnybar p {
    font-size: 1.4rem;
  }

  .felling-header-box h2 {
    font-size: 3.2rem;
  }

  .felling-header-box {
    right: 50%;
    transform: translateX(50%);
  }

  .description-1 {
    font-size: 4rem;
  }

  .section-2-container {
    margin: 10rem auto 0 auto;
    grid-template-columns: 1fr;
  }

  .firewood-text-box h2 {
    font-size: 3rem;
    padding: 1rem 0;
  }

  .firewood-text-box p {
    font-size: 1.8rem;
  }

  .section-3 {
    margin-top: 10rem;
  }

  .section-3 p {
    max-width: none;
    margin-top: 2.2rem;
  }

  .call-button-box {
    margin-top: 2.2rem;
  }

  .climb-text-container {
    padding: 1rem 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .section-3-container {
    grid-template-columns: 1fr;
  }

  .section-3-img-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .box-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 2rem 0;
    width: 75%;
    justify-self: center;
    /* line-height: 2; */
  }

  .section-3-img-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .box-2 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin: 2rem 0 8rem 0;
    width: 75%;
    justify-self: center;
    /* line-height: 2; */
  }

  .climb-text-container p {
    font-size: 2rem;
  }

  .call-assessment:link,
  .call-assessment:visited {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .section-5-text-box {
    width: 500px;
  }

  .video-main-title {
    font-size: 4.8rem;
  }

  .videos-page-link {
    font-size: 1.8rem;
  }

  .page-footer {
    margin-top: 5rem;
  }

  .footer-logo-box {
    grid-column: 1 / 4;
    grid-row: 1 / -1;
  }

  .footer-menu-box {
    justify-self: flex-end;
  }

  .bottom-links-box {
    grid-column: -1 / -7;
  }
}

/* smaller than 768 pixels */

@media (max-width: 49em) {
  /*************************
      MOBILE NAVIGATION
  ************************* */

  .menu-btn {
    display: block;
  }

  .top-corner {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    margin: 0 auto;
  }

  .call-outer-box {
    justify-content: center;
  }

  .menu-btn {
    grid-column: -1 / -2;
  }

  .description-1 {
    font-size: 3rem;
    top: 15rem;
  }

  .menu {
    background-color: rgb(189, 189, 189);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    grid-column: 1 / -1;
    /* flex-direction: column; */
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
  }

  .nav-open .menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .menu-btn[title="close-outline"] {
    display: block;
  }

  .nav-open .menu-btn[title="menu-outline"] {
    display: none;
  }

  .menu-list {
    flex-direction: column;
    gap: 4rem;
  }

  .menu-list a:link,
  .menu-list a:visited {
    font-size: 4rem;
  }

  .skinnybar p {
    font-size: 1.2rem;
  }

  .call-assessment:link,
  .call-assessment:visited {
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: none;
    background-color: #36b236;
    /* transition: all 0s; */
    background-image: none;
  }

  .call-assessment:hover,
  .call-assessment:visited .climb-text-container {
    background-color: #fe7102;
  }

  .reviews:link,
  .reviews:visited {
    background-image: none;
    background-color: #36b236;
    transition: none;
  }

  .reviews:active {
    background-color: rgba(1, 128, 255, 0.89);
  }

  .felling-header-box {
    top: -2rem;
    width: 20rem;
  }

  .felling-header-box h2 {
    font-size: 2rem;
  }

  .felling-main-text {
    font-size: 1.6rem;
    bottom: -20rem;
    width: 40rem;
    padding: 1rem 2rem;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .section-5-text-box {
    width: auto;
  }

  .machine-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .videos-page-link {
    font-size: 1.8rem;
  }

  .footer-logo-box {
    margin: 0.5rem;
  }
}

/* smaller than 560px */

@media (max-width: 35em) {
  .skinnybar {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }
  .skinnybar p {
    font-size: 1.2rem;
  }

  .description-1 {
    font-size: 2.8rem;
    top: 18rem;
  }

  .section-2-container {
    margin: 6rem auto 0 auto;
  }

  .firewood-img {
    width: 30rem;
  }

  .firewood-text-box {
    width: 25rem;
    padding: 0;
  }

  .firewood-text-box h2 {
    margin-bottom: 1rem;
  }

  .section-3 {
    margin-top: 6rem;
  }

  .felling-main-text {
    font-size: 1.6rem;
    width: 75%;
    padding: 1rem 2rem;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-menu-box {
    flex-direction: column;
    gap: 1rem;
    margin-left: 0;
  }
  .review {
    flex-direction: column;
  }

  .google-logo {
    margin: 1rem 0 0 0;
  }

  .google-box {
    text-align: center;
  }

  .videos-page-link h2 {
    font-size: 2rem;
  }

  .footer-img-1 {
    display: none;
  }

  .footer-img-2 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    max-width: 100%;
    display: block;
  }

  .page-footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  .footer-logo-box {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    align-self: flex-start;
  }

  .footer-logo {
    width: 100%;
    margin-top: 2rem;
  }

  .footer-menu-box {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-start;
    justify-self: left;
  }

  .bottom-links-box {
    grid-column: 2 / -2;
    grid-row: 3 / 4;
  }

  .links {
    text-align: left;
  }
}

/* smaller than 480px */
@media (max-width: 30em) {
  .page-header {
    gap: 0.6rem;
    min-height: none;
  }

  .hours-text-1 {
    display: none;
  }

  .hours-text-2 {
    display: block;
  }

  .menu-logo img {
    width: 10rem;
  }
  .top-corner-mobile {
    font-size: 1.6rem;
  }

  .top-corner-text {
    font-size: 1.4rem !important;
  }

  .clock-icon,
  .phone-icon {
    height: 2rem;
  }

  .description-1 {
    font-size: 2;
  }

  .call-assessment:link,
  .call-assessment:active {
    line-height: normal;
  }

  .felling-main-text {
    bottom: -20rem;
    font-size: 1.3rem;
  }

  .machine-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .box-2 {
    margin-bottom: 4.2rem;
  }

  .section-4 {
    margin-top: 7rem;
  }

  .footer-logo {
    width: 50%;
    align-self: center;
  }
  .footer-logo-box {
    display: block;
    align-self: center;
    
  }
}

/* *****************
      below 345px
********************** */

@media(max-width: 22em) {

  .description-1 {
    top: 16rem;
    font-size: 2rem;
  }
}
