* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Fira Sans";
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

p {
  color: rgb(20, 20, 20);
  font-size: 2rem;
}

.page-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  /* min-height: 11.5rem; */
  gap: 2rem;
  position: relative;
}

.menu-logo {
  align-self: center;
  grid-column: 1 / 2;
}

.menu-logo img {
  width: 12.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.menu {
  grid-column: 2 / 4;
  align-self: center;
}

.menu a {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgb(23, 23, 23);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  border: none;
  background: none;
  /* cursor: pointer; */
  display: none;
  align-self: center;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[title="close-outline"] {
  display: none;
}

.top-corner {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 auto;
  align-self: center;
  grid-column: 5 / 7;
}

.hours-box {
  display: flex;
}

.hours {
  display: flex;
}

.hours-outer-box {
  display: flex;
  align-items: center;
}

.clock-icon {
  color: #0b900b;
  padding-right: 0.8rem;
}

.phone-hours {
  font-size: 1.8rem;
  color: rgb(25, 25, 25);
  padding-right: 1rem;
}

.hours-text-1 {
  display: block;
}

.hours-text-2 {
  display: none;
}

.call-outer-box {
  display: flex;
  padding: 1rem 1rem 0 0;
  justify-content: right;
}

.phone-icon {
  align-self: center;
  padding-right: 0.8rem;
}

.phone {
  flex: 0 0 auto;
  display: block;
  padding: 0.2rem 0.5rem;
}

.phone:link,
.phone:visited,
.phone:active {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  color: #0b900b;
  border-radius: 5px;
  transition: all 0.3s;
}

.description-1 {
  height: 3.5rem;
  color: white;
  font-size: 5rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20rem;
}

.img-1 {
  width: 100%;
  height: auto;
  position: relative;
}

.skinnybar {
  padding: 0.5rem 0 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: rgb(58, 57, 57);
  align-items: center;
}

.skinnybar p {
  /* font-size: .6rem; */
  letter-spacing: 0.5px;
  color: #fe7102;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.description-2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}

.section-2 {
  display: flex;
}

.section-2-container {
  margin: 15rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  box-shadow: 0 0 20px 10px #dadbdc;
}

.firewood-img {
  max-width: 50rem;
  display: block;
}

.firewood-text-box {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  width: 40rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.firewood-text-box h2,
.firewood-text-box p {
  color: rgb(29, 29, 29);
  text-align: left;
}

.firewood-text-box h2 {
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  font-size: 4.5rem;
}

.firewood-text-box p {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  line-height: 2.6rem;
}

.firewood-call-link:link,
.firewood-call-link:active {
  font-weight: 500;
  color: #0b900b;
}

.firewood-call-link:hover {
  text-decoration: underline;
}

.firewood-description {
  margin-top: 1rem;
}

.firewood-pricing {
  font-weight: 800;
}

.section-3 {
  margin-top: 20rem;
  border-top: 2px solid rgb(183, 183, 183);
  border-bottom: 2px solid rgb(183, 183, 183);
}

.reviews {
  background-color: rgba(1, 128, 255, 0.899) !important;
}

.section-3-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 0 auto;
}

.section-3 p {
  margin-top: 5rem;
  font-weight: 400;
  line-height: 4rem;
  max-width: 50rem;
  color: rgb(29, 29, 29);
}

.section-3 h2 {
  color: rgb(29, 29, 29);
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.section-3-img-1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
}

.section-3-img-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
}

.climb-text-container {
  display: flex;
  padding-right: 5rem;
  padding-left: 5rem;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.box-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box-2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.call-assessment:link,
.call-assessment:visited {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 2rem 1rem 2rem;
  background-image: linear-gradient(to bottom, #36b236 50%, #fe7102 50%);
  background-size: 100% 200%;
  border-radius: 5px;
  /* transition: all 0.2s; */
  /* border-radius: 5px; */
  text-align: center;
}

.call-assessment:hover,
.call-assessment:active {
  background-position: 0 -100%;
}

.call-assessment:active {
  box-shadow: 0 0 2px 2px #fe7102;
}

.google-logo-box {
  display: flex;
  align-self: center;
}

.google-logo {
  display: block;
  width: 12rem;
  height: 4rem;
  margin-left: 2rem;
}

.reviews:link,
.reviews:visited {
  background-image: linear-gradient(
    to bottom,
    #36b236 50%,
    rgba(1, 128, 255, 0.899) 50%
  ) !important;
}

.reviews:active {
  box-shadow: 0 0 2px 2px rgba(1, 128, 255, 0.899) !important;
}

.call-button-box {
  margin-top: 5rem;
  display: flex;
  align-self: center;
  gap: 1rem;
}

.phone-2-svg {
  height: 4rem;
  width: 4rem;
  color: #0b900b;
  min-width: 4rem;
  min-height: 4rem;
  margin-right: 2rem;
  align-self: center;
}

.section-4 {
  margin-top: 15rem;
  position: relative;
}

.felling-header-box {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 10%;
  right: 60%;
}

.felling-header-box h2 {
  font-size: 6.2em;
  letter-spacing: 2px;
  font-weight: 700;
  color: #222;

  /* border-bottom: 2px solid black; */
  /* width: fit-content; */
}

.section-4 img {
  width: 100%;
  height: auto;
}

.felling-main-text {
  background-color: white;
  color: rgb(46, 46, 46);
  letter-spacing: 1px;
  /* margin: 3rem 5rem 3rem 5rem; */
  /* border: 1px solid black; */
  box-shadow: 0 0 30px 5px lightgrey;
  padding: 3rem;
  position: absolute;
  left: 50%;
  bottom: -19rem;
  transform: translate(-50%, -50%);
  width: 60rem;
}

.section-5 {
  margin: 20rem 2rem 0rem 2rem;
}

.section-5 h2 {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}

.section-5-text-box {
  width: 800px;
  margin: 2rem auto;
  box-shadow: 0 0 30px 5px lightgray;
  padding: 2rem;
}

.section-5 p {
  font-size: 1.8rem;
}

.section-5-text-box p {
  line-height: 1.4;
}

.machine-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.machine-grid {
  width: 100%;
}

.video-section {
  margin: 10rem 0 2.2rem 0;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

.videos-page-link h2 {
  font-size: 3rem;
  color: #555;
  margin-top: 3rem;
  text-decoration: underline;
}

.vid-parent {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 5rem;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 0 20px 5px lightgray;
}
.video-main-title {
  margin-bottom: 5rem;
  font-size: 5.2rem;
  color: #0b900b;
  letter-spacing: 1px;
  text-align: center;
}

.history-link {
  font-size: 3rem;
  color: #0b900b;
  text-align: center;
  margin: 6rem 0 2.5rem 0;
}

.page-footer {
  text-decoration: none;
  font-weight: bold;
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.footer-img-1 {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  max-width: 100%;
  display: block;
}

.footer-img-2 {
  display: none;
}

.footer-logo-box {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 2rem;
}
.footer-logo {
  width: 100%;
}

.footer-menu-box {
  display: flex;
  gap: 6rem;
  grid-column: 4 / -1;
  grid-row: 1 / 2;
  justify-self: flex-start;
  margin: 2rem;
}

.page-footer nav a {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  justify-self: right;
}

.bottom-links-box {
  grid-row: -1 / -2;
  grid-column: -5 / -1;
  margin-right: 2rem;
}

.logoedit {
  align-self: center;
  justify-self: center;
}

.links {
  font-style: italic;
  text-align: right;
  display: block;
}

.links:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin: 0;
}

h3 {
  /* text-align: center; */
  font-family: Fira Sans;
  font-size: 4rem;
  margin-bottom: -3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

a {
  color: black;
  text-decoration: none;
}

.history-main-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  padding: 4rem 0.5rem 2rem 0.5rem;
  color: #0b900b;
}

/* *************************************
            ABOUT US PAGE
***************************************/

.about-title {
text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
  padding: 4rem 0.5rem 2rem 0.5rem;
  color: #0b900b;
}

.family-image {
  width: 100%;
}

.about-sub-title {
  text-align: center;
  font-size: 3.5rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.family-blurb-box {
  position: relative;
}

.family-blurb {
 
  margin: -3rem auto 0 auto;
  padding: 2rem 4rem;
  border: 2px solid black;
  background-color: rgb(229, 229, 229);
  width: 60%;
}

.family-blurb p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 1px;
  
}

.family-blurb p:nth-child(2) {
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.flex-ed-details {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.ed-details-box {
  margin: 5rem 0 0;
  display: flex;
  gap: 5rem;
}

.ed-img {
  width: 40rem;
  height: auto;

}

.my-info-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.my-info-text p {
  margin-top: 1rem;
}

.my-info-text p a:hover {
  color: #0b900b;
  text-decoration: underline;
}

.isa-arborist {
  margin-top: 2rem;
  height: auto;
  width: 10rem;
}

.headquarters-box {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.headquarters-box h4 {
  font-size: 2.4rem;
  font-weight: bold;
}

.headquarters-box p, h4 {
  text-align: center;
}

.headquarters-box img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.headquarters-box p {
  letter-spacing: 0.75px;
  margin-top: 5px;
}
